/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body,td{font-family:Quicksand,Ubuntu,calibri,tahoma,arial,sans-serif; font-size: 14px}
ul {
  margin-top: 3px; 
  margin-bottom: 3px; 

}
dt {
  font-weight: bold;

}
dd {
  margin-bottom: 0.5em; 

}
.slim {
  max-width: 50em;

}
img { border: 0;  }
table {
  vertical-align: text-top;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;

}
table th, table .th {
  vertical-align: text-top;
  background-color: #aabbff;
  text-align: center;
  font-weight: bold;

}      
table td:not(.th) {
  vertical-align: text-top;
  padding-right: 6px;
  padding-left: 6px;
  max-width: 650px;

}
summary {
  background-color: #ffffff;

}
details {
  background-color: #f0eeee;

}
.grey { background-color: #eeeeee;  }
.navself {
  text-decoration: none;
  font-weight: bold;
  color: #000000;

}

h2.big-heading {
  font-size: 2em;
}
